<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongoose Tutorial </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  
  <h1>Welcome to Quote Saver</h1>
     
<form action="/quotes" method="post">
    Your Name: <input id="name" name="name" type="text"></input><br><br>
   	Your Quote: <input id="quote" name="quote" type="text"></input><br><br>
    <input class="btn btn-primary" type="submit" value="Submit"></input>
    <a href="/quotes" class="btn btn-primary">Skip to Quotes</a>
  </form>
  <div>
    

</body>
</html> 